header {
  position: fixed;
  width: 99%;
  background-color: gray;
  height: 80px;
}

#htitle {
  float: center;
  display: inline;
  font-size: 30px;
  padding-left: 20px;
}
#header-img {
  height: 80px;
}
#nav-bar {
  float: right;
  display: inline;
  padding-top: 30px;
  padding-right: 40px;
  font-size: 25px;
  text-color: black;
  word-spacing: 20px;
}

.nav-link {
  color: black;
}

#video {
  margin-top: 90px;
  align: center;
}
#varea {
  float: center;
}

#container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 100px) {
  header{
    height: 40px;
  }
}
